.dashboard{
 padding: 1rem 3rem;
}

.dashboard .heading-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard .heading-area button{
   background-color: #211935 ;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.4rem;
   border-radius: 0.5rem;
   padding: 1rem;
   color: white;
    height: 3rem;
}
.projects-container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
@media (max-width:500px) {
    .dashboard{
        padding: 1rem 1rem;
       }
       .dashboard .heading-area button{        
        padding: 0.5rem;
         height: 2.5rem;
         font-size: 15px;
     }
     .dashboard{
        display: flex;
        flex-direction: column;
        gap: 1rem;
     }
  }