
.setting{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.setting h2{
    font-size: 2rem;
}
.profile-area{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    color: #3C3C3C;
}
.profile-area .input-area {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.profile-area .input-area label{
    font-size: 1.1rem;
    font-weight: 700;
}
.profile-area .input-area input{
    border: 1px solid #bdbdbd;
    border-radius: 0.2rem;
    width: 17rem;
    height: 2.4rem;
    padding: 1rem;

}
.profile-area .input-area .readOnly:hover {
    cursor: not-allowed; 
  }

.subscription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subscription .plan{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 700px;
    background: linear-gradient(to right, #8925e0, #6a19b1 , #350d58);
}
.subscription .plan p{
    color: white;
}
.subscription .plan button{
    background-color: white;
    height: 2rem;
    width: 5rem;
    border-radius: 0.2rem;
    color: #7E22CE;
    font-weight: 600;
   
}
.subscription span{
    color: red;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
.profile-area button{
    height: 2rem;
    width: 5rem;
    background-color: #8925e0;
    color: white;
    border-radius: 0.2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:500px) {
    .profile-area{
        gap: 1rem;
    }
    .subscription .plan{
        display: flex;
        align-items: center;
    }
}